label {
  text-align: right;
  width: 6em;
  margin-bottom: 0.5em;
}

input[type="text"] {
  width: 15em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.form-check-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.container {
  width:100%;
}