{% extends 'base.html' %} {% block body %}

<main>
  <h2>Add a book to my library</h2>
<hr>
  <form action="/add" method="POST">

    <div class="mb-3">
      <label class="form-label" for="book-title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="book-title"
        name="title"
        autofocus="autofocus"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="author-name">Author:</label>
      <input
        class="form-control"
        type="text"
        id="author-name"
        name="author"
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label"  for="page-number"> Pages:</label>
      <input 
      class="form-control" 
      type="text" 
      id="page-number" 
      name="pages" 
      required
      />
    </div>
    <fieldset>
      <legend>Classification:</legend>
    <div class="mb-3 form-check form-check-inline">
      <label class="form-check-label" for="fiction">
        <input 
        type="radio" 
        id="fiction" 
        name="classification" 
        value="fiction" 
        required
        /> 
        Fiction
      </div>

      <div class="mb-3 form-check form-check-inline">
        <label class="form-check-label" for="read-no">
          <input
          type="radio"
          id="nonfiction"
          name="classification"
          value="nonfiction"
          required
          />
          Non-Fiction
        </label>
      </div>

    <fieldset>
      <legend>Details:</legend>
      <div class = "form-check">
        <input class="form-check-input" type="checkbox" id="for-own" name="details" value="own">
        <label class="form-check-label" for="for-own">I own this book</label>
        </div>

      <div class = "form-check">
        <input class="form-check-input" type="checkbox" id="for-read" name="details" value="read">
        <label class="form-check-label" for="for-read">I've read this book</label>
        </div>

      <div class = "form-check">
        <input class="form-check-input" type="checkbox" id="for-like" name="details" value="like">
        <label class="form-check-label" for="for-read">I liked this book</label>
        </div>

      <div class = "form-check">
        <input class="form-check-input" type="checkbox" id="for-recommend" name="details" value="recommend">
        <label class="form-check-label" for="for-recommend">I would recommend this book to others</label>
        </div>
    </fieldset>

    <fieldset>
      <legend>How did I get this book:</legend>
        <select class="mb-3 form-select" name="acquisition" id="got-it" required>
          <option value="" selected>-Select option-</option>
          <option value="purchase">I purchased it</option>
          <option value="gift">It was a gift</option>
          <option value="library">I checked it out from the library</option>
          <option value="loan">A friend loaned it to me</option>
        </select>
    </fieldset>

    <div class="mt-3">
      <input
        class="btn btn-primary"
        type="submit"
        value="Add Book"
        id="submit"
      />
      </div>
  </form>

  {% if books %}
  <h3 class="mt-5">Book List</h3>
  <hr />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.classification }}</td>
        <td>{{ book.details }}</td>
        <td>{{ book.acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
